name: Release

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build-release-files:
    name: Build release files for ${{ matrix.arch }}-${{ matrix.platform }}
    # Don't build on forks
    if: github.repository_owner == 'clechasseur'
    strategy:
      fail-fast: false
      matrix:
        arch: [ aarch64, x86_64 ]
        platform: [ unknown-linux-gnu, apple-darwin, pc-windows-msvc ]
        include:
          - arch: universal
            platform: apple-darwin
          - os: ubuntu-24.04
          - platform: apple-darwin
            os: macos-14
          - platform: pc-windows-msvc
            os: windows-2022
          - crt-static: false
          - platform: pc-windows-msvc
            crt-static: true
        exclude:
          - arch: aarch64
            platform: unknown-linux-gnu
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          toolchain: stable
          cache: false

      - name: Setup cross-compilation tools
        uses: taiki-e/setup-cross-toolchain-action@b8d1a322a6009a2b7220f53996695778eef89b41 # v1.38.0
        with:
          target: ${{ matrix.arch }}-${{ matrix.platform }}

      - name: Set flag to link crt-static
        run: echo "RUSTFLAGS=${RUSTFLAGS} -C target-feature=+crt-static" >> ${GITHUB_ENV}
        if: ${{ matrix.crt-static }}

      - name: Build binaries and upload to GitHub release
        uses: taiki-e/upload-rust-binary-action@f391289bcff6a7f36b6301c0a74199657bbb4561 # v1.28.0
        with:
          bin: auxiliaire
          token: ${{ secrets.GITHUB_TOKEN }}
          archive: $bin-$target-$tag
          target: ${{ matrix.arch }}-${{ matrix.platform }}
          include: LICENSE,README.md
          leading-dir: true
